<div class="error">
  <% if flash[:message] %>
  <h1><%= flash[:message] %></h1>
  <% end %>
</div>

<h1>Create a new window associated with your site: </h1>

<%= render partial: 'form', locals: {window: @window, current_user: current_user} %>
