<h1>Tiffany in Connecticut</h1>

  <p>The <bold>Tiffany</bold> in Connecticut project was started by the
    Lyman Allyn Art Museum. After the acquisition of the Tiffany Window, "Come
    Unto Me", from All Souls Church, the museum set about creating an exhibit
    that explores the work of Tiffany within New London, Connecticut. More than
    a dozen sites relating to Tiffany and displaying the exceptional stained
    glass work of his studio were discovered by researchers within New London.
    These discoveries prompted an expansion of our efforts to include the greater
    state of Connecticut. </p>

  <p>By opening our data to the public, we hope to identify many more important sites
    with your help. If you know of a site or window, sign in or sign up using the
    link at the top of the page. If you work for a site, make sure to select the
    site admin option so that you can add and maintain your site.</p>

  <h3>A few tips about using this site:</h3>
  <p>If you have a site that bears Tiffany Studios window, sign up for an account and
    be sure to select the "Site Administrator" check box. Your user page will allow you
    to view and update your sites and windows. </p>

  <p>If you don't have a site or Tiffany Windows you are welcome to sign up and browse
    all the sites and windows that site administrators have added. If you know of a site
    that has Tiffany Windows, suggest registering to the site's owner or contact 
    me at e.be.walk@gmail.com.</p>
